/PuzzleLogique.Server/bin/Debug/net8.0/appsettings.Development.json
/PuzzleLogique.Server/bin/Debug/net8.0/appsettings.json
/PuzzleLogique.Server/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
/PuzzleLogique.Server/bin/Debug/net8.0/Microsoft.OpenApi.dll
/PuzzleLogique.Server/bin/Debug/net8.0/PuzzleLogique.Server.deps.json
/PuzzleLogique.Server/bin/Debug/net8.0/PuzzleLogique.Server.dll
/PuzzleLogique.Server/bin/Debug/net8.0/PuzzleLogique.Server.exe
/PuzzleLogique.Server/bin/Debug/net8.0/PuzzleLogique.Server.pdb
/PuzzleLogique.Server/bin/Debug/net8.0/PuzzleLogique.Server.runtimeconfig.json
/PuzzleLogique.Server/bin/Debug/net8.0/PuzzleLogique.Server.staticwebassets.endpoints.json
/PuzzleLogique.Server/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/PuzzleLogique.Server/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/PuzzleLogique.Server/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/PuzzleLogique.Server/bin/Debug/net9.0/appsettings.Development.json
/PuzzleLogique.Server/bin/Debug/net9.0/appsettings.json
/PuzzleLogique.Server/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
/PuzzleLogique.Server/bin/Debug/net9.0/Microsoft.OpenApi.dll
/PuzzleLogique.Server/bin/Debug/net9.0/PuzzleLogique.Server.deps.json
/PuzzleLogique.Server/bin/Debug/net9.0/PuzzleLogique.Server.dll
/PuzzleLogique.Server/bin/Debug/net9.0/PuzzleLogique.Server.exe
/PuzzleLogique.Server/bin/Debug/net9.0/PuzzleLogique.Server.pdb
/PuzzleLogique.Server/bin/Debug/net9.0/PuzzleLogique.Server.runtimeconfig.json
/PuzzleLogique.Server/bin/Debug/net9.0/PuzzleLogique.Server.staticwebassets.endpoints.json
/PuzzleLogique.Server/bin/Debug/net9.0/Swashbuckle.AspNetCore.Swagger.dll
/PuzzleLogique.Server/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/PuzzleLogique.Server/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/PuzzleLogique.Server/obj/Debug/net8.0/ref/PuzzleLogique.Server.dll
/PuzzleLogique.Server/obj/Debug/net8.0/refint/PuzzleLogique.Server.dll
/PuzzleLogique.Server/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/PuzzleLogique.Server/obj/Debug/net8.0/apphost.exe
/PuzzleLogique.Server/obj/Debug/net8.0/PuzzleLo.E12E9DE4.Up2Date
/PuzzleLogique.Server/obj/Debug/net8.0/PuzzleLogique.Server.AssemblyInfo.cs
/PuzzleLogique.Server/obj/Debug/net8.0/PuzzleLogique.Server.AssemblyInfoInputs.cache
/PuzzleLogique.Server/obj/Debug/net8.0/PuzzleLogique.Server.assets.cache
/PuzzleLogique.Server/obj/Debug/net8.0/PuzzleLogique.Server.csproj.AssemblyReference.cache
/PuzzleLogique.Server/obj/Debug/net8.0/PuzzleLogique.Server.csproj.CoreCompileInputs.cache
/PuzzleLogique.Server/obj/Debug/net8.0/PuzzleLogique.Server.csproj.FileListAbsolute.txt
/PuzzleLogique.Server/obj/Debug/net8.0/PuzzleLogique.Server.dll
/PuzzleLogique.Server/obj/Debug/net8.0/PuzzleLogique.Server.GeneratedMSBuildEditorConfig.editorconfig
/PuzzleLogique.Server/obj/Debug/net8.0/PuzzleLogique.Server.genruntimeconfig.cache
/PuzzleLogique.Server/obj/Debug/net8.0/PuzzleLogique.Server.GlobalUsings.g.cs
/PuzzleLogique.Server/obj/Debug/net8.0/PuzzleLogique.Server.MvcApplicationPartsAssemblyInfo.cache
/PuzzleLogique.Server/obj/Debug/net8.0/PuzzleLogique.Server.MvcApplicationPartsAssemblyInfo.cs
/PuzzleLogique.Server/obj/Debug/net8.0/PuzzleLogique.Server.pdb
/PuzzleLogique.Server/obj/Debug/net8.0/PuzzleLogique.Server.sourcelink.json
/PuzzleLogique.Server/obj/Debug/net8.0/rbcswa.dswa.cache.json
/PuzzleLogique.Server/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/PuzzleLogique.Server/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/PuzzleLogique.Server/obj/Debug/net8.0/rpswa.dswa.cache.json
/PuzzleLogique.Server/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/PuzzleLogique.Server/obj/Debug/net8.0/staticwebassets.build.json
/PuzzleLogique.Server/obj/Debug/net8.0/staticwebassets.build.json.cache
/PuzzleLogique.Server/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/PuzzleLogique.Server/obj/Debug/net8.0/staticwebassets.removed.txt
/PuzzleLogique.Server/obj/Debug/net9.0/ref/PuzzleLogique.Server.dll
/PuzzleLogique.Server/obj/Debug/net9.0/refint/PuzzleLogique.Server.dll
/PuzzleLogique.Server/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/PuzzleLogique.Server/obj/Debug/net9.0/apphost.exe
/PuzzleLogique.Server/obj/Debug/net9.0/PuzzleLo.E12E9DE4.Up2Date
/PuzzleLogique.Server/obj/Debug/net9.0/PuzzleLogique.Server.AssemblyInfo.cs
/PuzzleLogique.Server/obj/Debug/net9.0/PuzzleLogique.Server.AssemblyInfoInputs.cache
/PuzzleLogique.Server/obj/Debug/net9.0/PuzzleLogique.Server.assets.cache
/PuzzleLogique.Server/obj/Debug/net9.0/PuzzleLogique.Server.csproj.AssemblyReference.cache
/PuzzleLogique.Server/obj/Debug/net9.0/PuzzleLogique.Server.csproj.BuildWithSkipAnalyzers
/PuzzleLogique.Server/obj/Debug/net9.0/PuzzleLogique.Server.csproj.CoreCompileInputs.cache
/PuzzleLogique.Server/obj/Debug/net9.0/PuzzleLogique.Server.csproj.FileListAbsolute.txt
/PuzzleLogique.Server/obj/Debug/net9.0/PuzzleLogique.Server.dll
/PuzzleLogique.Server/obj/Debug/net9.0/PuzzleLogique.Server.GeneratedMSBuildEditorConfig.editorconfig
/PuzzleLogique.Server/obj/Debug/net9.0/PuzzleLogique.Server.genruntimeconfig.cache
/PuzzleLogique.Server/obj/Debug/net9.0/PuzzleLogique.Server.GlobalUsings.g.cs
/PuzzleLogique.Server/obj/Debug/net9.0/PuzzleLogique.Server.MvcApplicationPartsAssemblyInfo.cache
/PuzzleLogique.Server/obj/Debug/net9.0/PuzzleLogique.Server.MvcApplicationPartsAssemblyInfo.cs
/PuzzleLogique.Server/obj/Debug/net9.0/PuzzleLogique.Server.pdb
/PuzzleLogique.Server/obj/Debug/net9.0/PuzzleLogique.Server.sourcelink.json
/PuzzleLogique.Server/obj/Debug/net9.0/rbcswa.dswa.cache.json
/PuzzleLogique.Server/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/PuzzleLogique.Server/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/PuzzleLogique.Server/obj/Debug/net9.0/rpswa.dswa.cache.json
/PuzzleLogique.Server/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/PuzzleLogique.Server/obj/Debug/net9.0/staticwebassets.build.json
/PuzzleLogique.Server/obj/Debug/net9.0/staticwebassets.build.json.cache
/PuzzleLogique.Server/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/PuzzleLogique.Server/obj/Debug/net9.0/staticwebassets.removed.txt
/PuzzleLogique.Server/obj/project.assets.json
/PuzzleLogique.Server/obj/project.nuget.cache
/PuzzleLogique.Server/obj/project.packagespec.json
/PuzzleLogique.Server/obj/PuzzleLogique.Server.csproj.nuget.dgspec.json
/PuzzleLogique.Server/obj/PuzzleLogique.Server.csproj.nuget.g.props
/PuzzleLogique.Server/obj/PuzzleLogique.Server.csproj.nuget.g.targets
/PuzzleLogique.Server/obj/rider.project.model.nuget.info
/PuzzleLogique.Server/obj/rider.project.restore.info
